* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

body {
    background-color: #f0f0f0;
    background-image: url(/assets/images/background_image2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-bottom: solid 1px black;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* padding: 15px; */
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: border 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    border: solid 0.5px transparent;
    padding: 4px;
}

nav li {
    padding: 0 14px;
}

nav a:hover {
    border: solid 0.5px black;
    border-radius: 8px;
    background-color: #f0f0f0;
}

#header-container img {
    max-height: 60px;
}

.section-container {
    display: grid;
    gap: 10px;
    grid-template-rows: 100px 100px 100px 100px;
    place-items: center;
    font-weight: 200;
}

.grid:before {
    display: block;
    padding-top: 100%;
}

[class^="grid-"] {
    color: whitesmoke;
    margin-top: 20px;
    background-image: url(/assets/images/infobox_images5.jpg);
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80%;
    width: 90%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1, header p {
    margin: 0;
}

h1 {
    float: left;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

.further-info {
    display: none;
    position: absolute;
    /* top: 100%; */
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

section:hover .further-info {
    display: block;
}

@media (min-width: 768px) {
    .section-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    section:before {
        padding-top: 50%;
        /* Adjust the aspect ratio for larger screens */
    }
}

@media (min-width: 1024px) {
    .section-container {
        grid-template-columns: repeat(2, 1fr);
    }
}