* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

main {
    background-color: #9A9191;
}

#header-container {
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #454655;
    color: #A9AABC;
    padding: 10px;
    position: relative;
}

.section-container {
    /* margin-top: -10px; */
    display: grid;
    gap: 10px;
    /* height: 100vh; */
    grid-template-rows: 100px 100px 100px 100px;
    place-items: center;
    font-weight: 200;
}

.grid:before {
    display: block;
    padding-top: 100%;
    /* 1:1 aspect ratio */
}

[class^="grid-"] {
    position: relative;
    height: 80%;
    width: 90%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px #31FF00;
    background-color: #454655;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A9AABC;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

.further-info {
    display: none;
    position: absolute;
    /* top: 100%; */
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

section:hover .further-info {
    display: block;
}

@media (min-width: 768px) {
    .section-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    section:before {
        padding-top: 50%;
        /* Adjust the aspect ratio for larger screens */
    }
}

@media (min-width: 1024px) {
    .section-container {
        grid-template-columns: repeat(2, 1fr);
    }
}