* {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

main {
    background-color: lightslategray;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #333;
    color: white;
    padding: 10px;
}

.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section {
    box-sizing: border-box;
    position: relative;
}

.grid {
    width: 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
}

h2 {
    font-size: 1.5em;
}

.further-info {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

section:hover .further-info {
    display: block;
}